@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        &__title {
            font-size: 32px;
            line-height: 39px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
        }
    }

    .product {
        &__content {
            width: 343px;
            height: 300px;
        }
        &__box {
            display: grid;
            justify-content: center;
        }
    }
}