@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        max-height: 735px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        &__title {
            font-size: 32px;
            line-height: 39px;
        }
        &__text {
            max-width: 343px;
            font-size: 14px;
            line-height: 22px;
        }
    }

    .product {
        &__content {
            width: 343px;
            height: 300px;
        }
        &__box {
            display: grid;
            justify-content: center;
        }
    }

    .game {
        &__box {
            display: flex;
            flex-direction: column;
            gap: 64px;
            padding-top: 51px;
        }
        &__content {
            display: grid;
            justify-items: center;
        }
        &__title {
            font-size: 32px;
            line-height: 39px;
        }
        &__text {
            text-align: center;
            font-size: 14px;
            line-height: 22px;
        }
        &__logo_img {
            width: 100%;
        }
    }
}