* {
    margin: 0;
    padding: 0;
}

body,
button {
    font-family: 'Montserrat', sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 1024px;
    background-image: url(img/backfon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
        padding-top: 217px;
        padding-bottom: 32px;
        max-width: 789px;
    }
    &__text {  
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 178%;
        color: #FFFFFF;
        max-width: 481px;
        padding-bottom: 57px;
        &_bold {
            font-weight: 700;  
        }
    }
    &__button {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        background: #9C0332;
        border-radius: 30px;
        box-sizing: border-box;
        width: 234px;
        height: 48px;
        transition: all 0.3s;
    }
    &__button:hover {
        background: #EB443F;
    }
}

.product {
    background-image: url(img/backcontent.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__box {
        padding-top: 128px;
        padding-bottom: 128px;
        display: flex;
        gap: 32px;
    }
    &__content {
        width: 379px;
        height: 300px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        display: flex;
        align-items: flex-end;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 32px;
        transition: all 0.3s;
        &_1 {
            background-image: url(img/backproduct1.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 16px;
        }
        &_2 {
            background-image: url(img/backproduct2.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 16px;
        }
        &_3 {
            background-image: url(img/backproduct3.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 16px;
        }
    }
    &__content:hover {
        border: 3px solid #44D2FF;
    }
}

.game {
    background-image: url(img/BGGame.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__box  {
        padding-top: 233px;
        padding-bottom: 233px;
        display: flex;
        gap: 135px;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
        padding-top: 48px;
        padding-bottom: 32px;
    }
    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        padding-bottom: 32px;
        max-width: 584px;
    }
    &__button {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        background: #9C0332;
        border-radius: 30px;
        box-sizing: border-box;
        width: 234px;
        height: 48px;
    }
}

@import 'mobile';