* {
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 1024px;
  background-image: url(img/backfon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  padding-top: 217px;
  padding-bottom: 32px;
  max-width: 789px;
}
.header__text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 178%;
  color: #FFFFFF;
  max-width: 481px;
  padding-bottom: 57px;
}
.header__text_bold {
  font-weight: 700;
}
.header__button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  box-sizing: border-box;
  width: 234px;
  height: 48px;
  transition: all 0.3s;
}
.header__button:hover {
  background: #EB443F;
}

.product {
  background-image: url(img/backcontent.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.product__box {
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  gap: 32px;
}
.product__content {
  width: 379px;
  height: 300px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  transition: all 0.3s;
}
.product__content_1 {
  background-image: url(img/backproduct1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}
.product__content_2 {
  background-image: url(img/backproduct2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}
.product__content_3 {
  background-image: url(img/backproduct3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}
.product__content:hover {
  border: 3px solid #44D2FF;
}

.game {
  background-image: url(img/BGGame.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.game__box {
  padding-top: 233px;
  padding-bottom: 233px;
  display: flex;
  gap: 135px;
}
.game__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  padding-top: 48px;
  padding-bottom: 32px;
}
.game__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 32px;
  max-width: 584px;
}
.game__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: #9C0332;
  border-radius: 30px;
  box-sizing: border-box;
  width: 234px;
  height: 48px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    max-height: 735px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  .header__title {
    font-size: 32px;
    line-height: 39px;
  }
  .header__text {
    max-width: 343px;
    font-size: 14px;
    line-height: 22px;
  }
  .product__content {
    width: 343px;
    height: 300px;
  }
  .product__box {
    display: grid;
    justify-content: center;
  }
  .game__box {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 51px;
    padding-bottom: 51px;
  }
  .game__box_2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .game__content {
    display: grid;
    justify-items: center;
  }
  .game__title {
    font-size: 32px;
    line-height: 39px;
  }
  .game__text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .game__logo_img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */